<section class="category my-lg-120 my-40 py-80 bg-primary-100 rounded-40 rounded-lg-80 mx-lg-auto mx-12">
    <div class="container-md">
        <div class="row row-cols-lg-2 row-cols-1 flex-lg-row flex-column-reverse align-items-center justify-content-between row-gap-40">            
            <div class="col px-16 px-md-12">           
                <div class="swiper category-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/megaphoneSimple.png" alt="megaphoneSimple logo" class="icon-logo bg-icon-1 p-16 rounded-16 me-20">                               
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >網路行銷</p>
                                    <span class="fs-14 text-icon-10 fw-normal">342 門課程</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/camera.png" alt="camera logo" class="icon-logo bg-icon-2 p-16 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >拍攝剪輯</p>
                                    <span class="fs-14 text-icon-10 fw-normal">563 門課程</span>
                                </div>                                    
                            </a>                            
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/chartBarHorizontal.png" alt="chartBarHorizontal logo" class="icon-logo bg-icon-3 p-16 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >自我成長</p>
                                    <span class="fs-14 text-icon-10 fw-normal">490 門課程</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/penNib.png" alt="penNib logo" class="icon-logo bg-icon-4 p-16 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >藝術設計</p>
                                    <span class="fs-14 text-icon-10 fw-normal">230 門課程</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/bugDroid.png" alt="bugDroid logo" class="icon-logo bg-icon-5 p-16 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >數據分析</p>
                                    <span class="fs-14 text-icon-10 fw-normal">395 門課程</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/creditCard.png" alt="creditCard logo" class="icon-logo bg-icon-6 p-16 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >投資理財</p>
                                    <span class="fs-14 text-icon-10 fw-normal">486 門課程</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/headphones.png" alt="headphones logo" class="icon-logo bg-icon-7 p-16 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold mb-8 text-icon-9" >音樂創作</p>
                                    <span class="fs-14 text-icon-10 fw-normal">283 門課程</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-white rounded-20 d-flex p-20 w-100 align-items-center border-0">
                                <img src="../assets/images/icons/arrow.png" alt="arrow logo" class="icon-logo bg-icon-8 p-20 rounded-16 me-20">
                                <div>
                                    <p class="fw-bold text-icon-9" >探索更多</p>                                        
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col px-16 px-md-12">
                <div class="d-flex align-items-start justify-content-end flex-column flex-lg-row slogan gap-8">
                    <img src="../assets/images/deco/polygon-1.png" alt="polygon logo">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="fs-1 text-white fw-bolder">想學什麼嗎？</h3>
                        <h3 class="fs-1 text-white fw-bolder">一探究竟。</h3>
                        <img src="../assets/images/deco/line-2.png" alt="line logo" class="line">
                    </div>	
                </div>
                						
            </div>
        </div>
    </div>
</section>