<div class="position-relative subject">
    <div class="swiper subject-swiper pb-40 pb-lg-80">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span>
                    <img src="../assets/images/course-5.png" class="card-img-top h-100" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">小白也會！從零開始學習 Python 程式設計</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span>
                    <img src="../assets/images/course-6.png" class="card-img-top h-100" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">全面掌握 JavaScript 開發技術</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <img src="../assets/images/course-7.png" class="card-img-top" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">HTML & CSS 網頁設計基礎教程</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <img src="../assets/images/course-8.png" class="card-img-top h-100" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">更進一步！深入學習 Node.js 與後端開發</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span>
                    <img src="../assets/images/course-6.png" class="card-img-top h-100" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">全面掌握 JavaScript 開發技術</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <img src="../assets/images/course-7.png" class="card-img-top h-100" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">HTML & CSS 網頁設計基礎教程</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
                    <img src="../assets/images/course-8.png" class="card-img-top h-100" alt="course">
                    <div class="card-body">
                        <h6 class="card-title mb-16 text-black">更進一步！深入學習 Node.js 與後端開發</h6>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-auto">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/avatar-2.png" alt="avatar logo"
                                        class="rounded-circle object-fit-cover">
                                </div>
                                <div class="flex-grow-1 ms-8">
                                    <p>Kelly Hsu</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="d-block fs-6 fw-bolder  text-primary-100">NT$
                                    2,480</span>
                                <small class="text-decoration-line-through fs-14 text-neutral-60">NT$
                                    3,200</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-16 d-flex align-items-center bg-white">
                        <div class="me-auto">
                            <span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
                            <p class="fs-14 mt-4">已有 420 位同學加入</p>
                        </div>
                        <p class="fs-14 text-black">
                            <i class="bi bi-star-fill text-warning me-4"></i>4.0
                            <span class="text-neutral-60">(333)</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button"
        class="swiper-button-prev-subject d-none d-sm-block btn btn-white shadow p-16 border-0 swiper-prev position-absolute top-50 start-0 translate-middle z-3"><span
            class="material-symbols-outlined align-bottom">arrow_back</span></button>
    <button type="button"
        class="swiper-button-next-subject d-none d-sm-block btn btn-white shadow p-16 border-0 swiper-next position-absolute top-50 start-100 translate-middle z-3"><span
            class="material-symbols-outlined align-bottom">arrow_forward</span></button>
</div>