.category{
    max-width: 1656px;

    &-swiper {
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .slogan{
        .line{
            width: 438px;
            height:94px;
        }
        justify-content: end;
    }

    .card-icon{
        padding: 20px;
        width: 306px;
    }
}
