.teacher{
    &-ic{
        img{
            width: 240px;

            @include pad(){
                width: 150px;
            }
            @include mobile(){
                width: 80px;
            }
        }
        left:-2px;
        top:-80px;

        @include mobile(){
            left:50%;
            top:0;
            transform: translate(-50%, -50%);
        }    
    }

    .b-line{
        position: relative;

        &::before{
            content:"";
            position: absolute;
            background: $neutral-60;
            width: 1px;
            height: 16px;
            top: 50%;
            left: -24px;
            @include y-center;

            @include pad(){
                left: -12px;
            }
        }
    }

    .flower{
        width: 24px;
        @include pad(){
            width: 16px;
        }
    }

    .swiper-slide{
        width:306px;
    }
        
}

