<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>講師介紹 | Learning</title>
</head>

<body>
	<%- include('./layout/header'); -%>
		<main>
			<section class="header">
				<picture>
					<source srcset="../assets/images/hero-5.png" media="(min-width:576px)">
					<img src="../assets/images/hero-sm-5.png" alt="hero logo" class="w-100">
				</picture>
				<div class="container mb-48 mb-lg-100 position-relative">
					<div class="teacher-ic position-absolute ">
						<img src="../assets/images/teacher-8.png" alt="teacher-ic"
							class="rounded-circle object-fit-cover p-md-20 p-10 bg-white">
					</div>
					<div class="row">
						<div class="col-3 d-none d-md-block"></div>
						<div
							class="col-12 col-md-9 px-md-0 d-flex flex-column gap-md-24 gap-16 align-items-md-start align-items-center">
							<h1 class="fs-3 fs-md-1 mt-md-80 mt-64">六角學院</h1>
							<h6 class="fs-14 fs-md-16 fw-normal">
								<span class="fs-16 fs-md-6 fw-bold text-primary-100 me-4">4</span>堂課
								<span
									class="fs-16 fs-md-6 fw-bold text-primary-100 me-4 ms-24 ms-lg-48 b-line">8463</span>收藏數
								<span
									class="fs-16 fs-md-6 fw-bold text-primary-100 me-4 ms-24 ms-lg-48 b-line">20,218</span>個學生
							</h6>
							<p class="fs-14 fs-md-16">六角學院 是一所線上程式開發學習單位，目前已累積 20,000
								名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。<br>我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運
								Know how。</p>

							<ul class="list-unstyled d-flex flex-wrap gap-16 ">
								<li class="d-inline-flex"><a href="#" class="icon border border-neutral-80"><i
											class="bi bi-line"></i></a></li>
								<li class="d-inline-flex"><a href="#" class="icon border border-neutral-80"><i
											class="bi bi-youtube"></i></a></li>
								<li class="d-inline-flex"><a href="#" class="icon border border-neutral-80"><i
											class="bi bi-facebook"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<section>
				<div class="container mb-lg-200 mb-120">
					<h5 class="text-black fs-lg-5 fs-6 d-flex align-items-center mb-24">
						<img class="flower me-6 me-lg-8" src="../assets/images/deco/flower-5.png"
							alt="flower logo">六角學院開的課
					</h5>
					<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 gy-md-12 gy-lg-0">
						<div class="col">
							<div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
								<span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span>
								<img src="../assets/images/course-5.png" class="card-img-top h-100" alt="course">
								<div class="card-body">
									<h6 class="card-title mb-16 text-black">小白也會！從零開始學習 Python 程式設計</h6>
									<div class="d-flex">
										<div class="d-flex align-items-center me-auto">
											<div class="flex-shrink-0">
												<img src="../assets/images/avatar-2.png" alt="avatar logo"
													class="rounded-circle object-fit-cover">
											</div>
											<div class="flex-grow-1 ms-8">
												<p>Kelly Hsu</p>
											</div>
										</div>
										<div class="d-flex flex-column align-items-end">
											<span class="d-block fs-6 fw-bolder  text-primary-100">NT$ 2,480</span>
											<small class="text-decoration-line-through fs-14 text-neutral-60">NT$ 3,200</small>
										</div>
									</div>
								</div>
								<div class="card-footer p-16 d-flex align-items-center bg-white">
									<div class="me-auto"> 
										<span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
										<p class="fs-14 mt-4">已有 420 位同學加入</p>
									</div>									
									<p class="fs-14 text-black">
										<i class="bi bi-star-fill text-warning me-4"></i>4.0
										<span class="text-neutral-60">(333)</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col d-none d-sm-block">
							<div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
								<span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span>
								<img src="../assets/images/course-6.png" class="card-img-top h-100" alt="course">
								<div class="card-body">
									<h6 class="card-title mb-16 text-black">全面掌握 JavaScript 開發技術</h6>
									<div class="d-flex">
										<div class="d-flex align-items-center me-auto">
											<div class="flex-shrink-0">
												<img src="../assets/images/avatar-2.png" alt="avatar logo"
													class="rounded-circle object-fit-cover">
											</div>
											<div class="flex-grow-1 ms-8">
												<p>Kelly Hsu</p>
											</div>
										</div>
										<div class="d-flex flex-column align-items-end">
											<span class="d-block fs-6 fw-bolder  text-primary-100">NT$ 2,480</span>
											<small class="text-decoration-line-through fs-14 text-neutral-60">NT$ 3,200</small>
										</div>
									</div>
								</div>
								<div class="card-footer p-16 d-flex align-items-center bg-white">
									<div class="me-auto"> 
										<span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
										<p class="fs-14 mt-4">已有 420 位同學加入</p>
									</div>									
									<p class="fs-14 text-black">
										<i class="bi bi-star-fill text-warning me-4"></i>4.0
										<span class="text-neutral-60">(333)</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col d-none d-md-block">
							<div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
								<!-- <span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span> -->
								<img src="../assets/images/course-7.png" class="card-img-top h-100" alt="course">
								<div class="card-body">
									<h6 class="card-title mb-16 text-black">HTML & CSS 網頁設計基礎教程</h6>
									<div class="d-flex">
										<div class="d-flex align-items-center me-auto">
											<div class="flex-shrink-0">
												<img src="../assets/images/avatar-2.png" alt="avatar logo"
													class="rounded-circle object-fit-cover">
											</div>
											<div class="flex-grow-1 ms-8">
												<p>Kelly Hsu</p>
											</div>
										</div>
										<div class="d-flex flex-column align-items-end">
											<span class="d-block fs-6 fw-bolder  text-primary-100">NT$ 2,480</span>
											<small class="text-decoration-line-through fs-14 text-neutral-60">NT$ 3,200</small>
										</div>
									</div>
								</div>
								<div class="card-footer p-16 d-flex align-items-center bg-white">
									<div class="me-auto"> 
										<span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
										<p class="fs-14 mt-4">已有 420 位同學加入</p>
									</div>									
									<p class="fs-14 text-black">
										<i class="bi bi-star-fill text-warning me-4"></i>4.0
										<span class="text-neutral-60">(333)</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col d-none d-md-block">
							<div class="card p-0 shadow position-relative rounded-20 border-0 overflow-hidden mb-0">
								<!-- <span class="sale fs-14 position-absolute m-16">限時 8 折🔥</span> -->
								<img src="../assets/images/course-8.png" class="card-img-top h-100" alt="course">
								<div class="card-body">
									<h6 class="card-title mb-16 text-black">更進一步！深入學習 Node.js 與後端開發</h6>
									<div class="d-flex">
										<div class="d-flex align-items-center me-auto">
											<div class="flex-shrink-0">
												<img src="../assets/images/avatar-2.png" alt="avatar logo"
													class="rounded-circle object-fit-cover">
											</div>
											<div class="flex-grow-1 ms-8">
												<p>Kelly Hsu</p>
											</div>
										</div>
										<div class="d-flex flex-column align-items-end">
											<span class="d-block fs-6 fw-bolder  text-primary-100">NT$ 2,480</span>
											<small class="text-decoration-line-through fs-14 text-neutral-60">NT$ 3,200</small>
										</div>
									</div>
								</div>
								<div class="card-footer p-16 d-flex align-items-center bg-white">
									<div class="me-auto"> 
										<span class="d-inline-block rounded-pill bg-neutral-40 px-12 py-4 fs-14">程式開發</span>
										<p class="fs-14 mt-4">已有 420 位同學加入</p>
									</div>									
									<p class="fs-14 text-black">
										<i class="bi bi-star-fill text-warning me-4"></i>4.0
										<span class="text-neutral-60">(333)</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<%- include('./layout/footer'); -%>
			<script type="module" src="../main.js"></script>
</body>

</html>